header {
    padding: 20px;
    position: absolute;
    background-color: #4aaaa5;
    color: white;
    float: left;
}

#container1 {
    margin-left: 50%;
    margin-right: 100%;
    margin-bottom: 0%;
    margin-top: 0%;
    float: left;
}