body{
    background-image: url(assets/images/ignasi_pattern_s.png);
}

#name {
    padding: 20px;
    position: relative;
    background-color: #4aaaa5;
    color: white;
}

.container {
    width: 960px;
}
#container1 {
    
}

#nav {
    position: absolute;
    text-align: center;
    float: right;
}

#top_margin {
    margin-left: 20%;
    margin-right: 20%;
}