body {
    background-image: url("../../assets/images/ignasi_pattern_s.png");
    padding-top: 0px;
    padding-bottom: 40px;
}

a {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.fixed-header {
    width: 100%;
    position: fixed;   
    background-color: #ffffff;
    padding: 0px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
}
.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #4aaaa5;
}

#container1 {
    width: 950px;
    margin: 0 auto;
}

#container3 {
    padding: 10% 15% 10% 15%;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

#name {
    padding: 20px;
    margin: 0px;
    border: 0px;
    position: static;
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#bio-image {
    float: left;
    padding: 0% 5% 5% 0%;
}

#container2 {
    width: 980px;
    height: 500px;
    background-color: #ffffff;
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
    padding: 2%;
}


#nav {
    float: right;
    position: static;
    padding: 3% 0% 3% 0%;
}

#navtext    {
    color: #777777;
}

.p1 {
    color: #777777;
    line-height: 200%;
}

.form {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
.form label {
    margin: 5px 10px 5px 0;
    color: #777777;
  }
  
.form input {
    width: 98.5%;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 0;
  }
  
.form button {
    padding: 10px 20px;
    background-color: #4aaaa5;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }
  
.form button:hover {
    background-color: royalblue;
  }
  

    
.form {
      flex-direction: column;
      align-items: stretch;
    }


#subject {
    height: 200px;
    width: 100%; 
    border: 1px solid #ddd;
}