body {
    background-image: url("../../assets/images/ignasi_pattern_s.png");
    padding-top: 0px;
    padding-bottom: 40px;
}

.fixed-header {
    width: 100%;
    position: fixed;   
    background-color: white;
    padding: 0px
}
.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
}

#container1 {
    width: 960px;
    margin: 0 auto;
}

#container3 {
    padding: 10% 15% 10% 15%;

}

.line {
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

#name {
    padding: 20px;
    margin: 0px;
    border: 0px;
    position: static;
    background-color: #4aaaa5;
    color: white;
    float: left;
}

#bio-image {
    float: left;
}

#container2 {
    width: 960px;
    background-color: white;
    border: 5px;
    border-color: black;
    padding: 2%;
}


#nav {
    text-align: center;
    float: right;
    padding: 5%;
}
