body {
    background-image: url("../../assets/images/ignasi_pattern_s.png");
    padding-top: 0px;
    padding-bottom: 40px;
}

a {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.fixed-header {
    width: 100%;
    position: fixed;   
    background-color: #ffffff;
    padding: 0px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
}
.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #4aaaa5;
}

#container1 {
    max-width: 960px;
    margin: 0 auto;
}

#container3 {
    padding: 10% 15% 10% 15%;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

#name {
    padding: 20px;
    margin: 0px;
    border: 0px;
    position: static;
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#bio-image {
    float: left;
    padding: 0% 5% 5% 0%;
}

#container2 {
    max-width: 960px;
    min-height: 1000px;
    background-color: #ffffff;
    border: 1px;
    border-style: solid;
    border-color: #dddddd;
}


#nav {
    float: right;
    position: static;
    padding: 3% 0% 3% 0%;
}

#navtext    {
    color: #777777;
}

.p1 {
    color: #777777;
    line-height: 200%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
  
div.gallery:hover {
    border: 1px solid #777;
}
  
div.gallery img {
    width: 100%;
    height: auto;
}
  
div.desc {
    padding: 15px;
    text-align: center;
}